<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: headsection"></head>

<body>
	<header th:replace="fragments/layout.html :: headermenu"></header>
	<!-- <div th:replace="fragments/layout.html :: Anotherheadermenu"> -->
	
	<div class="container">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
			<h2>Lecturer Listing</h2>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Id</th>
	      <th scope="col">First Name</th>
	      <th scope="col">Last Name</th>
	      <th scope="col">Username</th>
	      <th scope="col">Email</th>
	      <th scope="col">Role</th>
	      <th scope="col">Status</th>
	      <th scope="col">Edit</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="lecturer:${lecturerList}">
	      <th scope="row" th:text=${lecturer.lecturerId}>Id</th>
	      <td th:text=${lecturer.firstName}>First Name</td>
	      <td th:text=${lecturer.lastName}>Last Name</td>
	      <td th:text=${lecturer.username}>Username</td>
	      <td th:text=${lecturer.email}>Email</td>
	      <td th:text=${lecturer.role}>Role</td>
	      <td th:text=${lecturer.userStatus}>Status</td>
	      <td><a href="EditLecturer.html" th:href="@{/manage/lecturer/edit/}+${lecturer.lecturerId}"> Edit </a></td>
	      <td><a href="DeleteLecturer.html" th:href="@{/manage/lecturer/delete/}+${lecturer.lecturerId}"> Delete </a></td>
	    </tr>
	  </tbody>
</table>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</body>

<div th:replace="fragments/layout.html :: footersection"></div>

</html>